<div class="card mb-3 card-post d-none">
    <a href="./blog/{{this.url}}" class="text-decoration-none text-dark" target="blank">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ this.baner }}" class="img-fluid rounded-start" alt="..." style = "width: 100%;height: 100%;object-fit: cover;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ this.titulo }}</h5>
                    <p class="card-text">
                        {{#switch this.estado}} 
                            {{#case '0'}} <span class="badge bg-danger">Eliminado</span> {{/case}} 
                            {{#case '1'}} <span class="badge bg-warning text-dark">En revisión</span> {{/case}} 
                            {{#case '2'}} <span class="badge bg-success">Aprobado</span> {{/case}}
                        {{/switch}}
                    </p>
                    <p>Escrito por: {{this.creadoPor.username}}</p>
                    <p class="card-text"><small class="text-muted">{{ prettyDate this.createdAt }}</small></p>
                </div>
            </div>
        </div>
    </a>
</div>