{{> topPage }}

<div class="vh-100 d-flex flex-column">
    {{> navbar }}

    <div class="main">
        <div class="bg-primary bg-gradient position-relative" id="particles-js" style="height: 300px;">
            <div class="position-absolute top-50 start-50 translate-middle text-center text-white user-select-none responsive-width">
                <h1>Bienvenido a BlogSide</h1>
                <p>Artículos para desarrollar tus habilidades</p>
            </div>
        </div>
        <div class="container p-3">
            <h3>Ultimos artículos</h3>
            <hr>
            {{#each posts}}
                <div class="card mb-3 user-select-none">
                    <div class="card-body">
                        <a href = "/blog/{{this.url}}" class = "text-decoration-none text-dark">
                            <h4>{{this.titulo}}</h4>
                        </a>
                        {{#each this.tags}}
                            <span class="badge tag rounded-pill custom-bg-tag user-select-none cursor-pointer" onclick = "location.href = '/tags/{{this}}'">{{this}}</span>
                        {{/each}}
                        <p>{{this.resumen}}</p>
                        <small class = "text-muted">{{ prettyDate this.createdAt }}</small>
                    </div>
                </div>
            {{/each}}

            <div class="d-flex mt-3">
                <a class="text-decoration-none ms-auto" href="/blog">
                    Todos los artículos
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>

        {{#unless usuario}}
            <script>
                localStorage.removeItem('usuario');
                localStorage.removeItem('token');
            </script>
        {{/unless}}
    </div>

    {{> footer }}

</div>

<script>
    particlesJS.load('particles-js', 'js/particles.json');
</script>

{{> bottomPage }}